* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 10px 70px; /* Adjusted padding */
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 10px; /* Adjusted padding */
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px; /* Adjusted font size */
}

button {
    border: none;
    outline: none;
    padding: 12px 30px; /* Adjusted padding */
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 16px; /* Adjusted font size */
    padding: 10px 8px 10px 50px; /* Adjusted padding */
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 3px;
    width: 30px;
    height: 30px;
    font-size: 20px; /* Adjusted font size */
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

/* Media query for small screens */
@media (max-width: 576px) {
    .todo-app {
        padding: 40px 20px 70px;
    }
    
    input {
        font-size: 12px;
    }
    
    button {
        padding: 12px 20px;
    }
    
    ul li {
        font-size: 14px;
        padding: 10px 8px 10px 40px;
    }
    
    ul li::before {
        height: 20px;
        width: 20px;
        top: 8px;
    }
    
    ul li span {
        width: 26px;
        height: 26px;
        font-size: 18px;
    }
}
